@charset "UTF-8";

@import "var.css";

/*--------------------------------------------------------------------------
                     fonte utilizada nos paragrafos
---------------------------------------------------------------------------*/
@font-face
{
    font-family: 'robot';
    src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}

/*--------------------------------------------------------------------------
                   Estiliza a tag section de cada frame
 --------------------------------------------------------------------------*/     
.frame-sections
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.frame-sections h1 /*Para titulo do frame*/
{
    font-size: 2em;
}

.frame-sections h2 /*Para nomes de pacotes*/
{
    font-size: 1.6em;
    background-color: darkgray;
    text-align: center;
}

.frame-sections h3 /*Para identificadores de classes*/
{
    font-size: 1.2em;
    clear: both;
}

.frame-sections h3::before
{
  content: "\25C6   ";
}

.frame-sections h4 /*Para identificadores de metodos*/
{
    font-size: 1em;
    color: var(--olive);
}

.frame-sections h5 /*Para identificadores de campos*/
{
  font-size: 1em;
}


.frame-sections p
{
    line-height: 1.5em;
    text-align: justify;
    font-family: robot;
    font-size: 1em;
    padding-bottom: 0.6em;

}
/*------------------------------------------------------------------------*/

span.filename
{
    font-family: 'Courier New', Courier, monospace;
}


span.java-method
{
    font-weight: bolder;
}


.frame-sections a, a:visited
{
    text-decoration: none;
    color: royalblue;
 
}

.frame-sections ul
{
    margin-left: 3em;
}

.frame-sections li
{
    padding: 0.5em;
}

code.htmlcode
{
  font-size: 1.2em;
}



a.nav-button, a.nav-button:visited
{
    display: block;
    background-color:rgb(141, 135, 135);
    color: white;
    padding: 15px 32px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.nav-button-prev
{
    float: left;
}

.nav-button-next
{
    float: right;
}

dl.deflist-default
{
  margin:0;
  padding: 5px;
  border: solid 2px;
}

dl.deflist-default dt
{
  margin-top: 5px;
  margin-bottom: 3px;
  font-weight: bolder;
}

dl.deflist-default dd
{
  margin-bottom: 3px;
  padding:0;
}

iframe.code
{
  background-color: var(--paleblue);
  float: left;
  width: 700px;
  height: 700px;
  padding: 0;
  margin: 0px 5px 15px 0px;
}

footer
{
  clear: both;
}






