@charset "UTF-8";

@import "var.css";

/*--------------------------------------------------------------------------
                     Fonte utilizada nos paragrafos
---------------------------------------------------------------------------*/
@font-face
{
    font-family: 'robot';
    src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}

/*--------------------------------------------------------------------------
                   Estiliza a tag section de cada frame
 --------------------------------------------------------------------------*/     
.frame-sections
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.frame-sections h1 /*Para titulo do frame*/
{
    font-size: 2em;
}

.frame-sections h2 /*Para nomes de pacotes*/
{
    font-size: 1.6em;
    background-color: darkgray;
    text-align: center;
    clear: both;
}

.frame-sections h3 /*Para identificadores de classes*/
{
    font-size: 1.2em;
    clear: both;
}

.frame-sections h3::before /* Insere um diamond antes do nome da classe */
{
  content: "\25C6   ";
}

.frame-sections h4 /*Para identificadores de metodos*/
{
    font-size: 1em;
    color: var(--olive);
}

.frame-sections h5 /*Para identificadores de campos*/
{
  font-size: 1em;
}

.frame-sections p /* Estiliza os paragrafos */
{
    line-height: 1.5em;
    text-align: justify;
    font-family: robot;
    font-size: 1em;
    padding-bottom: 0.6em;

}

.frame-sections span.filename /*Para nomes de arquivos*/
{
    font-family: 'Courier New', Courier, monospace;
}


.frame-sections span.java-method /*Para nomes de metodos*/
{
    font-weight: bolder;
}


.frame-sections a, a:visited /*Links*/
{
    text-decoration: none;
    color: royalblue;
 
}

.frame-sections ul /* Listas nao ordenadas */
{
    margin-left: 3em;
}

.frame-sections li
{
    padding: 0.5em;
}

.frame-sections code.htmlcode /*Para codigo HTML*/
{
  font-size: 1.2em;
}

.frame-sections iframe.code
{
  background-color: var(--paleblue);
  float: left;
  width: 700px;
  height: 700px;
  padding: 0;
  margin: 0px 5px 15px 0px;
}

/*-------------------------------------------------------------------------
            Estiliza botoes Anterior e Proximo no fim da pagina
-------------------------------------------------------------------------*/               
a.nav-button, a.nav-button:visited 
{
    display: block;
    background-color:rgb(141, 135, 135);
    color: white;
    padding: 15px 32px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.nav-button-prev
{
    float: left;
}

.nav-button-next
{
    float: right;
}

/*---------------------------------------------------------------------------
                     Estiliza o rodape da pagina
 --------------------------------------------------------------------------*/                     
footer
{
  clear: both;
}

/*--------------------------------------------------------------------------*/








