@charset "UTF-8";

@import "colors.css";

.xw52fz_literalstring
{
    color: var(--javacode-literalstring-color);
}

.xw52fz_reserved
{
    color: var(--javacode-reserved-color);
}

.xw52fz_constant
{
    color: var(--javacode-constant-color);
}

.xw52fz_literalchar
{
    color: var(--javacode-literalchar-color);
}

.xw52fz_method
{
    color: var(--javacode-method-color);
    font-style: italic;
}

.xw52fz_function
{
    color: var(--javacode-method-color);
    font-style: italic;
}

.xw52fz_comment
{
    color: var(--javacode-comment-color);
}

.xw52fz_classname
{
    font-weight: bolder;
}