@charset "UTF-8";


div.javacode
{
  float: left;
  padding: 0;
  margin: 0;
}

div.javacode pre
{
  float: left;
  margin: 0;
  padding: 0;
  width: 630px;
  background-color: rgb(229, 235, 252);
  overflow-x: hidden;
}

div.javacode pre, code
{
    margin:0;
    padding:0;
}



div.javacode div.linenumber
{
    float: left;
    margin: 0;
    padding: 0;
    border-right: solid 1px;
    background-color: rgb(206, 206, 206);
    color: black;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    
}

.xw52fz_literalstring
{
    color: hotpink;
}

.xw52fz_reserved
{
    color: blue;
}

.xw52fz_constant
{
    color: cadetblue;
}

.xw52fz_literalchar
{
    color: red;
}

.xw52fz_function
{
    color: olive;
    font-style: italic;
}

.xw52fz_comment
{
    color: slategrey;
}

.xw52fz_classname
{
    font-weight: bolder;
}




