@charset "UTF-8";

@import "var.css";


div.javacode
{
  float: left;
  padding: 0;
  margin: 0;
}

div.javacode pre
{
  float: left;
  width: 630px;
  overflow-x: hidden;
}

div.javacode pre, code
{
    margin:0;
    padding:0;
}

div.javacode div.linenumber
{
    float: left;
    margin: 0;
    padding: 0;
    border-right: solid 1px;
    background-color: var(--aqua);
    color: black;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    
}

.xw52fz_literalstring
{
    color: var(--hotpink);
}

.xw52fz_reserved
{
    color: var(--blue);
}

.xw52fz_constant
{
    color: var(--cadetblue);
}

.xw52fz_literalchar
{
    color: var(--red);
}

.xw52fz_method
{
    color: var(--olive);
    font-style: italic;
}

.xw52fz_function
{
    color: var(--olive);
    font-style: italic;
}

.xw52fz_comment
{
    color: var(--slategray);
}

.xw52fz_classname
{
    font-weight: bolder;
}




